:root {
  --clr-dark-blue: 243 87% 12%;
  --clr-desaturated-blue: 238 22% 44%;
  --clr-blue: 224 93% 58%;
  --clr-cyan: 170 45% 43%;
  --clr-grayish-blue: 240 75% 98%;
  --clr-gray: 0 0% 75%;

  --ff-body: "Open Sans", sans-serif;
  --ff-secondary: "Raleway", sans-serif;

}