@use "../abstracts/mixins" as *;

.attribution {
  font-size: 11px;
  text-align: center;
  position: fixed;
  inset: auto auto 1rem 1rem;
  display: none;

  @include breakpoint-min(62em) {
    display: block;
  }


  a {
    color: hsl(228, 45%, 44%);
  }
}