@use "../abstracts/mixins" as *;

.attribution {
  --clr-text: 0 0% 100%;
  font-size: 0.6875rem;
  text-align: center;
  position: fixed;
  inset: auto auto 1rem 1rem;
  display: none;
  color: hsl(var(--clr-text));


  @include breakpoint-min(62em) {
    display: block;
  }


  a {
    color: currentColor
  }
}