@use "../abstracts/mixins" as *;

.header {
  @include flexBetweenCenter;
  padding-block-start: 2.125rem;

  @include breakpoint-min(62em) {
    padding-block-start: 2.9375rem;
  }


  &__logo {
    max-width: 7rem;
    object-fit: contain;

    @media (width >=62rem) {
      max-width: 10rem;
    }
  }

  .navbar__list {

    @media (width >=62rem) {
      gap: 2.5rem;
    }
  }
}

.navbar {

  &__list {

    @include flexGap(1rem);


    &-link {
      font-family: var(--ff-secondary);
      color: hsl(var(--clr-dark-blue));
      position: relative;
      display: inline-block;

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: hsl(var(--clr-blue));
        border-radius: 4px;
        inset: auto auto 0 0;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.25s ease-in-out;
      }

      &:hover::before {
        transform: scaleX(1);
        transform-origin: left;

        @media (prefers-reduced-motion: reduce) {
          transform: none;
        }
      }
    }
  }
}